*.CLASS
*.LOG
*.IML
*.IPR
*.IWS
.IDEA
OUT
.CACHE/
.HISTORY/
.LIB/
DIST/*
TARGET/
BIN/
LIBEXEC/
LIB_MANAGED/
SRC_MANAGED/
PROJECT/BOOT/
PROJECT/PLUGINS/PROJECT/
LOGS/
PROJECT/*-SHIM.SBT
PROJECT/PROJECT/
PROJECT/TARGET/
TARGET/
.SCALA_DEPENDENCIES
.WORKSHEET
