*.CLASS*.LOG*.IML*.IPR*.IWS.IDEAOUT.CACHE/.HISTORY/.LIB/DIST/*TARGET/BIN/LIBEXEC/LIB_MANAGED/SRC_MANAGED/PROJECT/BOOT/PROJECT/PLUGINS/PROJECT/LOGS/PROJECT/*-SHIM.SBTPROJECT/PROJECT/PROJECT/TARGET/TARGET/.SCALA_DEPENDENCIES.WORKSHEET